.aboutG {
	width: 80%;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: var(--text-color);

	.titleText {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			width: 50%;
			margin: 0 auto;
			margin: 3rem 0;
			color: var(--text-color);
			/* padding-left: 1rem; */
			h2 {
				justify-content: flex-start;
			}
		}


	.formContainer {
			margin-top: 1rem;
	}


}

.contact {
	display: flex;
	flex-direction: row;
	gap: 5rem;
	width: 100%;
	margin-top: 3rem;
	color: var(--text-color);
	padding-left: 2rem;
}

.email,
.WhatsApp {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: scale(1);
	transition: transform ease-in-out 0.2s;

	&:hover {
			transform: scale(1.1);
	}
}

.imgContact {
	width: 3rem;
}

/* -------------------------------------------------------------------------- */
/* Media Queries                               */
/* -------------------------------------------------------------------------- */

/* Pour les écrans de taille tablette (max-width: 1024px) */
@media (max-width: 1024px) {
	.aboutG {
			width: 95%;
			margin: 1.5rem auto;
			padding: 1rem;
	}

	.titleText {
			margin: 1.5rem 0;
			color: var(--text-color);
	}

	.formContainer {
			margin-top: 1rem;
	}
}

/* Pour les écrans de taille mobile (max-width: 768px) */
@media (max-width: 768px) {
	.aboutG {
			width: 98%;
			margin: 1rem auto;
			min-height: 80vh;
			padding: 0.5rem;
			.titleText {
					gap: 0.5rem;
					margin: 1rem auto;
					color: var(--text-color);
					width: 100%;
			}
	}


	.formContainer {
			margin-top: 1rem;
	}
}

/* Pour les écrans très petits (max-width: 480px) */
@media (max-width: 480px) {
	.aboutG {
			width: 100%;
	}
}