html {
  scroll-behavior: smooth;
}

html.light {
  --background-color: #fef9f6;
  --text-color: #000000;
  --primary-color: #007bff; /* Exemple : couleur principale */
  --secondary-color: #6c757d; /* Exemple : couleur secondaire */
  --border-color: #dddddd;
  --button-bg-color: #007bff;
  --button-text-color: #ffffff;
}

html.dark {
  --background-color: #1c1f26;
  --text-color: #ffffff;
  --primary-color: #1e90ff;
  --secondary-color: #aaaaaa;
  --border-color: #333333;
  --button-bg-color: #1e90ff;
  --button-text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.section {
  scroll-margin-top: 100px;
  min-height: 100vh;
  /* background-color: var(--background-color); */
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

.card {
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: 1px solid var(--border-color);
}

.button:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}