

.SkilsG{
width: 80%;
margin: 2rem auto;
height: 100vh;

.DiplômesCompétances{
  display: flex;
  justify-content: center;
  gap: 2rem;
  .Diplômes{
    border: solid #b9b0b0 2px;
    border-bottom-left-radius:15px;
    width: 60%;
    padding: 10px 10px;
    .liDiplome{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin-top: 1.8rem;
    }
}
  .Compétances{
    border: solid #b9b0b0 2px;
    border-top-right-radius: 15px ;
    width: 60%;
    padding: 10px 10px;
    .liCompétance{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      justify-items: center;
      
    }
  }
}
.title{
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
}
}
@media (max-width: 890px) {
  .DiplômesCompétances{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Diplômes{
      border-top-left-radius:15px;
      
    }
    .Compétances{
      border-bottom-right-radius:15px;
    }
  }
}