.footerG {
	display: flex;
	flex-direction: column;
	.contianerFooter1 {
		background-color: #26474e;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		.profilfooter {
			height: 300px;
			border-bottom: solid 1px #fff;
			padding: 1rem .5rem;
			color: #fff;
			.profilCImg {
				width: 150px;
				border-radius: 50%;
			}
		}
		.constct {
			display: flex;
			gap: 2rem;
			height: 250px;
			padding-left: 1rem;
			color: #fff;
			.emailC {
				width: 250px;
				border: solid 2px #fff;
				border-radius: 20px;
				height: 30px;
				padding: .3rem .4rem;
			}
			.tel {
				width: 200px;
				border: solid 2px #fff;
				border-radius: 20px;
				height: 30px;
				padding: .3rem .4rem;
			}
		}
	}
	.contianerFooter2 {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: linear-gradient(to bottom, #fff, #eaeaea),
		linear-gradient(to bottom, #eaeaea, transparent 100%);
		height: 15vh;

		padding: 0 10px;
		.navFooter {
			display: flex;
			.liNavFooter {
				display: flex;
				gap: 1rem;
				.iconinstagram {
					font-size: 1.5rem;
				}
				.iconGitHub {
					font-size: 1.5rem;
				}
				.iconlinkedin {
					font-size: 1.5rem;
				}
			}
		}
	}
}

/* .divStyleG {
	width: 150%;
	content: "";
	display: block;
	position: absolute;
	background: var(--color-white);
	height: 750%;
	left: 50%;
	border-radius: 50%;
	transform: translate(-50%, -86.666%);
	z-index: 1;
}

.divStyleP {
	width: 100%;
	top: 0;
	position: relative;
	height: 10vh;
	overflow: hidden;
} */