/* css module */
.headerG {
	background-color: #26474e;
	/* background-image: url("../assets/profile-Bgi2.png"); */
	background-size: cover;
	background-attachment: fixed; /* Effet de parallaxe */
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(10px);
	min-height: 50vh;
	width: 100%;
	height: 100vh;
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.profile {
  position: absolute; /* Ou fixed si vous voulez qu'il reste fixe dans la fenêtre */
  top: 0;
  right: 0;
  height: 100%;
  max-height: 100vh;
  object-fit: contain;
  opacity: 0.9;
  z-index: -1;
  pointer-events: none;
  transform: translateY(0); /* Important pour GSAP */
  transition: transform 0.2s ease-out;
}


.intro {
	position: absolute;
	transform: translateX(50%);
	top: 50%;
	width: 50%;
	padding: 2.5rem 0;
	margin: 0 auto;
	font-size: 1.5rem;
	font-family: var(--font-family);
	font-weight: 100;
	color: #fff;
}
.Bienvenue {
	font-family: var(--font-family);
	color: #fff;
	font-size: 6rem;
	font-weight: 100;
	width: 200px;
	position: absolute;
	top: 30%;
	right: 45%;
	display: flex;
	opacity: 1;
}
.Arrow {
	position: absolute;
	top: 20%;
	width: 55px;
	transform: rotate(-35deg);
}
.presHeader {
	position: absolute;
	top: 35%;
	left: 3rem;
	font-family: var(--font-family);
	color: #fff;
	font-size: 1.2rem;
	font-weight: 100;
	width: 400px;
	padding-left: 10px;
}
.buttons {
	display: flex;
	align-items: center;
	gap: 1rem;
	height: 5vh;
	transform: translateX(90%);
}
.buttonBurger {
	display: none;
}

.pageTransit {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	z-index: 1;
	p {
		font-size: 50px;
		color: #fff;
	}
}


/* pour les ecrans de taille moyennes */
@media (max-width: 890px) {
	.headerG {
		width: 100%;
	}
	.ulNav {
		display: none;
		transition: ease-in-out 0.5s;
	}
	.arrow {
		display: none;
	}
	.profile {
		position: absolute; /* Ou fixed si vous voulez qu'il reste fixe dans la fenêtre */
		bottom: 0;
		right: 0;
		height: 50%;
		max-height: 100vh;
		object-fit: contain;
		opacity: 0.9;
		z-index: -1;
		pointer-events: none;
		transform: translateX(90%);
		transform: translateY(100%); 
		transition: transform 0.2s ease-out;
	}
	.Bienvenue {
		position: absolute;
		top: 15rem;
		left: 1rem;
		font-size: 20px;
		height: 50px;

	}
	.intro {
		display: none;
	}
	.Arrow {
		display: none;
	}
	.presHeader {
		display:block;
		position: absolute;
		top: 20rem;
		left: .3rem;
		font-size: 14px;
		height: 25px;
		width: 200px;
	}

	.buttons {
		flex-direction: column;
		position: absolute;
		top: 1rem;
		backdrop-filter: blur(10px);
		height: 47vh;
		width: 25%;
		transition: ease-in-out 0.2s;
		left: -230px;
		justify-content: center;
		gap: 1.5rem;
	}
	.intro {
		display: none;
	}
}
