.navHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 0.7rem;
	background-color: #26474e;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	z-index: 9999;
	.liNav {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		/* cursor: pointer; */
		.iconinstagram {
			font-size: 1.7rem;
			color: #fff;
		}
		.iconGitHub {
			font-size: 1.7rem;
			color: #fff;
		}
		.iconlinkedin {
			font-size: 1.7rem;
			color: #fff;
		}
	}
}

.PortfolioLogo {
	font-size: 1rem;
	color: #fff;
	position: fixed;
	padding-left: .5rem;
	font-weight: 100;
	font-family: var(--font-family);
	border-radius: 10px;
	transform: matrix(1.1, 0, 0, 1.1, 0, 0);
	transition: ease-in-out 0.2s;
	&:hover {
		opacity: 1;
	transform: scale(1.1);
	/* background-color: #D4D4F5; */
		box-shadow: 0 0 15px rgba(102, 153, 255, 0.8), 0 0 25px
			rgba(163, 255, 102, 0.6);
	}
}

.buttons {
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: center;
	gap: 1rem;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 0.8rem 1.2rem;
	border: solid 1px white;
	border-radius: 10px;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 3rem;
	z-index: 9999;
	backdrop-filter: blur(5px);
}

.buttonLink {
	padding: .5rem;
	font-size: 1rem;
	color: #fff;
	font-family: var(--font-family);
	font-weight: 100;
	border: none;
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
	cursor: pointer;
	background: none;
	&:hover {
		opacity: 1;
	transform: scale(1.1);
	/* background-color: #D4D4F5; */
		box-shadow: 0 0 15px rgba(102, 153, 255, 0.8), 0 0 25px
			rgba(163, 255, 102, 0.6);
	}
}
/* .buttonBurger {
	display: none;
} */

/* pour les ecrans de taille moyennes */
@media (max-width: 890px) {
	.ulNav {
		display: none;
		transition: ease-in-out 0.5s;
	}
	.PortfolioLogo {
		position: absolute;
		padding: .6rem;
		left: 10px;
		top: 0;
		transition: transforme 0.2s;
	}
	.buttons {
		display: flex;
		align-items: center;
		height: 40px;
		justify-content: center;
		gap: .5rem;
		background-color: rgba(0, 0, 0, 0.7); /* semi-transparent pour voir le fond */
		padding: 0.8rem 1.2rem;
		border: solid 1px white;
		border-radius: 10px;
		position: fixed;
		left: 50%;
		transform: translateX(-50%); /* bien centré */
		bottom: 3rem;
		z-index: 9999; /* au-dessus de tout */
		backdrop-filter: blur(5px); /* joli effet flou si tu veux */
	}
	.buttonLink{
		font-size: 14px;
	}

}

/* Couleurs pour les icônes */
.iconHtml { color: #e34c26; }
.iconCss { color: #264de4; }
.iconJs { color: #f0db4f; }
.iconReact { color: #61dafb; }
.iconTs { color: #007acc; }
.iconGsap { color: #88ce02; }

.iconSql { color: #f29111; }
.iconNode { color: #68a063; }
.iconExpress { color: #333; }

.iconGit { color: #f1502f; }
.iconGithub { color: #24292e; }
.iconVscode { color: #007acc; }
.iconFigma { color: #a259ff; }
.iconExcel { color: #217346; }