.projetG{
    width: 80%;
    margin: 2rem auto;
    font-family: var(--font-family);
    line-height: 29.648px;
    letter-spacing: normal;
}
.projetUl{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sectionProjet{
  list-style: none;
  display: flex;
  gap: 0.5rem;
  border-radius: 9px;
  background-color:transparent;
  backdrop-filter: blur(10px);
  width: 80%;
  margin: 4.8rem auto;
  .listText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 5px;
    h3 {
      font-size: 35px;
      width: 70%;
    }
  }
  .listImgSrc{
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.lineStyle{
  background-color: #000;
  width:90%;
  margin: 2rem auto;
  height: 1px;
}

@media (max-width: 1250px){
  .projetList{
    display: flex;
    flex-direction: column;
  }
  .listImgSrc{
    width: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
  }
}