
.projetG{
    width: 80%;
    margin: 2rem auto;
}
.projetUl{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.projetList{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: solid #b9b0b0;
  border-radius: 9px;
  background-color: #EAEAEA;
  margin: 1.1rem 0;
  .listText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 5px 0;
    
  }
  .listImgSrc{
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

@media (max-width: 1250px){
  .projetList{
    display: flex;
    flex-direction: column;
  }
  .listImgSrc{
    width: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
  }
}